@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'PP Mori';
		src: url('/fonts/PPMori/PPMori-Regular.woff2') format('woff2'),
			url('/fonts/PPMori/PPMori-Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'PP Mori';
		src: url('/fonts/PPMori/PPMori-SemiBold.woff2') format('woff2'),
			url('/fonts/PPMori/PPMori-SemiBold.woff') format('woff');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Roobert';
		src: url('/fonts/Roobert/Roobert-Bold.woff2') format('woff2'),
			url('/fonts/Roobert/Roobert-Bold.woff') format('woff');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}
	
	@font-face {
		font-family: 'Roobert';
		src: url('/fonts/Roobert/Roobert-Regular.woff2') format('woff2'),
			url('/fonts/Roobert/Roobert-Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Gosha Sans';
		src: url('/fonts/Gosha/GoshaSans-Bold.woff2') format('woff2'),
			url('/fonts/Gosha/GoshaSans-Bold.woff') format('woff');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}
	
	@font-face {
		font-family: 'Gosha Sans';
		src: url('/fonts/Gosha/GoshaSans-Light.woff2') format('woff2'),
			url('/fonts/Gosha/GoshaSans-Light.woff') format('woff');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}
	
	@font-face {
		font-family: 'Gosha Sans';
		src: url('/fonts/Gosha/GoshaSans-Regular.woff2') format('woff2'),
			url('/fonts/Gosha/GoshaSans-Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	
	@font-face {
		font-family: 'Sofia Pro';
		src: url('/fonts/Sofia/SofiaPro-Light.woff2') format('woff2'),
			url('/fonts/Sofia/SofiaPro-Light.woff') format('woff');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}
	
	@font-face {
		font-family: 'Sofia Pro';
		src: url('/fonts/Sofia/SofiaPro-Regular.woff2') format('woff2'),
			url('/fonts/Sofia/SofiaPro-Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	
	@font-face {
		font-family: 'Sofia Pro';
		src: url('/fonts/Sofia/SofiaPro-Bold.woff2') format('woff2'),
			url('/fonts/Sofia/SofiaPro-Bold.woff') format('woff');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}
	
	@font-face {
		font-family: "Neue Machina";
		src: url("/fonts/NeueMachina/NeueMachina-Bold.woff2") format("woff2"),
		  url("/fonts/NeueMachina/NeueMachina-Bold.woff") format("woff");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	  }
	  
	  @font-face {
		font-family: "Neue Machina";
		src: url("/fonts/NeueMachina/NeueMachina-Black.woff2") format("woff2"),
		  url("/fonts/NeueMachina/NeueMachina-Black.woff") format("woff");
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	  }

	  @font-face {
		font-family: "Neue Machina";
		src: url("/fonts/NeueMachina/NeueMachina-Regular.woff2") format("woff2"),
		  url("/fonts/NeueMachina/NeueMachina-Regular.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	  }
	
	
}

/* @media (max-width: 1024px) {
	html {
		font-size: 11px;
	}
} */

/* html {
	cursor: url('/cursor/cursor.svg'), auto;
} */
